.card {
    /* todo: доделать фулл */
    display: grid;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 32px;
    background-color: var(--foreground);
    /* todo: адаптировать под мобилки? */
    width: 35.70vw;
    height: 80.85vh;
}

.headText {
    color: black;
}

.image{
    width: 27.94vw;
    height: 42.35vh;
}